.lw { font-size: 60px; }



@keyframes scaleIn {
  from {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
}
@keyframes scaleOut {
  from {
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  to {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
}
.fab-animation {
  
    border:2px solid #63666A;
    box-shadow: 0px 3px 6px #63666A;
    color: transparent;
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    position: fixed;
    bottom: 30px;
    right: 30px;
    animation: scaleIn  1s infinite alternate cubic-bezier(.36, .11, .89, .32);
    animation: scaleOut  1s infinite alternate cubic-bezier(.36, .11, .89, .32);
    
}
.fab {
  border: none;
  font-size: 37px;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  -webkit-box-shadow:  0px 3px 6px #63666A; 
  -moz-box-shadow:  0px 3px 6px #63666A;
  box-shadow: 0px 3px 6px #63666A;
  background: #002664 0% 0% no-repeat padding-box;
  position: fixed;
  bottom: 30px;
  right: 30px;
 

}

.addEMIDisable {
  opacity: 0.5;
}